

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    --color-bg: #ddd;
    --padding: 10px;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

button,
input[type='submit'] {
    height: 2em;
    padding: 0px 5px;
}

.library {
    border-collapse: collapse;
    max-width: 700px;

    > * {
        text-transform: capitalize;
    }

    caption {
        font-size: large;
        font-weight: 700;
        margin-bottom: calc(var(--padding) * 2);
    }

    tr {
        display: grid;
        grid-template-columns: 30% 20% repeat(4, minmax(75px, 1fr));
    }

    thead, 
    tbody tr:nth-child(even) {
        /* banded background color */
        background-color: var(--color-bg);
    }

    th, 
    td {
        border-collapse: collapse;
        padding: var(--padding);
        border: 1px solid black;
    }

    tr td:nth-child(3),
    tr td:nth-child(4),
    tr td:nth-child(5),
    tr td:nth-child(6) {
        text-align: center;
    }

    button {
        width: 100%;
    }

}

dialog {
    margin: auto;
    padding: 20px;

    * {
        text-transform: capitalize;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        p {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "left right";
            justify-content: space-between;
            width: 100%;
            

            label {
                grid-area: left;
            }

            input {
                grid-area: right;
                text-transform: none;
            }
        }
    }
}








