

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    --color-bg: #ddd;
    --padding: 10px;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

table {
    width: min(700px, 100%);
    margin: 50px 0px;
    border-collapse: collapse;

    table-layout: fixed;
    thead th:nth-child(1) {
        width: 35%;
    }
    thead th:nth-child(2) {
        width: 25%;
    }
    thead th:nth-child(3),
    thead th:nth-child(4),
    thead th:nth-child(5),
    thead th:nth-child(6) {
        width: 10%;
    }
}

caption {
    font-size: large;
    font-weight: 700;
    margin-bottom: calc(var(--padding) * 2);
}

thead, 
tbody tr:nth-child(even) {
    /* banded background color */
    background-color: var(--color-bg);
}

th, 
td {
    padding: var(--padding);
    border: 1px solid black;
}

tr td:nth-child(3),
tr td:nth-child(4) {
    text-align: center;
}

button {
    height: 100%;
    width: 100%;
}

caption,
th {
    text-transform: capitalize;
}
